body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#name{
    color: orange;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(to right,rgb(22, 126, 245), rgb(140, 217, 253));
    color: white;
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-bg.jpg);
    background-repeat: no-repeat;
}

.dream-big-img{
    width: 75%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-year{
    color: orange;
}
.experience-item{
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(241, 241, 241);
    
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experience-border-one{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(245, 146, 110), rgb(238, 82, 55));
    border-image-slice: 1;
}
.experience-border-two{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    margin-top: 30px;
}